{
  "openapi": "3.1.0",
  "info": {
    "title": "Helius API Catalog",
    "version": "1.0.0",
    "summary": "Machine-readable discovery document for every Helius API surface on Solana.",
    "description": "This document is a discovery catalog — not an operational spec. It exists so\nAI agents, codegen tools, and SDK generators can locate the canonical\nOpenAPI document for every Helius API in one request instead of crawling\nthe docs site.\n\nStart with the `x-apis` array: each entry links a Helius API surface to its\ncanonical OpenAPI spec (`specUrl`) and human-readable docs (`docsUrl`).\nFollow `externalDocs` for the full developer documentation site.\n\n## A note on JSON-RPC APIs\n\nSeveral Helius APIs (Solana RPC, DAS, Sender, Mint, Priority Fee,\nZK Compression) follow the JSON-RPC 2.0 convention where every method POSTs\nto `/` with a `method` field in the request body. For each such API the\nrepository ships both per-method fragment YAMLs (used to render the\nMintlify reference pages) and an auto-generated `_combined.yaml` that\nmerges every method into a single OpenAPI document. In the combined\ndocuments, colliding paths are disambiguated with a URL-fragment suffix\n(e.g. `/#getAccountInfo`) and each operation carries an `x-actual-path`\nextension that records the real request path (`/`). The fragment syntax is\nschema-only — real calls still go to the `url` in `servers`.\n\nAll `specUrl` values below point to raw GitHub files on the `main` branch\nof `helius-labs/docs`. They are stable URLs suitable for downstream tools\nto pin or fetch.\n",
    "contact": {
      "name": "Helius Support",
      "url": "https://www.helius.dev/contact",
      "email": "support@helius.dev"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://mainnet.helius-rpc.com",
      "description": "Solana mainnet RPC endpoint (Solana RPC, DAS, Priority Fee, ZK Compression)"
    },
    {
      "url": "https://devnet.helius-rpc.com",
      "description": "Solana devnet RPC endpoint"
    },
    {
      "url": "https://sender.helius-rpc.com",
      "description": "Helius Sender — global transaction submission"
    },
    {
      "url": "https://api.helius.xyz",
      "description": "Helius REST APIs (Wallet API, Enhanced API, Webhooks)"
    },
    {
      "url": "https://admin-api.helius.xyz",
      "description": "Helius Admin API — project usage and billing"
    },
    {
      "url": "https://api-mainnet.helius-rpc.com",
      "description": "Mainnet RPC endpoint"
    },
    {
      "url": "https://api-devnet.helius-rpc.com",
      "description": "Devnet RPC endpoint"
    },
    {
      "url": "http://slc-sender.helius-rpc.com",
      "description": "Salt Lake City"
    },
    {
      "url": "http://ewr-sender.helius-rpc.com",
      "description": "Newark"
    },
    {
      "url": "http://lon-sender.helius-rpc.com",
      "description": "London"
    },
    {
      "url": "http://fra-sender.helius-rpc.com",
      "description": "Frankfurt"
    },
    {
      "url": "http://ams-sender.helius-rpc.com",
      "description": "Amsterdam"
    },
    {
      "url": "http://sg-sender.helius-rpc.com",
      "description": "Singapore"
    },
    {
      "url": "http://tyo-sender.helius-rpc.com",
      "description": "Tokyo"
    }
  ],
  "externalDocs": {
    "description": "Helius Documentation (canonical)",
    "url": "https://www.helius.dev/docs"
  },
  "paths": {
    "/v0/addresses/{address}/nft-events": {
      "get": {
        "tags": [
          "NFTs"
        ],
        "summary": "Returns all NFT related events associated with the given address.",
        "operationId": "enhancedApi_getNftEvents",
        "description": "Retrieve comprehensive NFT events data for any Solana address. Filter by event types, \ntransaction sources, and time ranges to get precise NFT activity including mints, \nsales, listings, and transfers.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_beforeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_untilParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_commitmentParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_transactionSourceParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_transactionTypeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of NFTEvents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_NFTEvent"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/nft-events",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/addresses/{address}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns an enhanced transaction history for a given address",
        "operationId": "enhancedApi_getEnhancedTransactions",
        "description": "Access comprehensive transaction history for any Solana address with human-readable \ndecoded data. Filter by transaction types, sources, and time ranges to get detailed\ninsights into wallet activity with context and decoded instructions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_beforeSigParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_afterSigParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_commitmentParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_tokenAccountsParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_sortOrderParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_gtSlotParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_gteSlotParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_ltSlotParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_lteSlotParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_gtTimeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_gteTimeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_ltTimeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_lteTimeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_transactionSourceParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_transactionTypeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_limitNewParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of enhanced transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_EnhancedTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/transactions",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/addresses/{address}/raw-transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns raw transaction history for a given address",
        "operationId": "enhancedApi_getRawTransactionHistory",
        "description": "Retrieve complete raw transaction data for any Solana address with full\ntransaction details in their original format. Access historical transaction \ndata with precise time filtering options.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_beforeParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_untilParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_commitmentParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of raw transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_RawTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/raw-transactions",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns an array of enhanced, human-readable versions of the given transactions.",
        "description": "Convert raw Solana transactions into enhanced, human-readable formats with\ndecoded instruction data and contextual information. Process multiple transactions\nin a single request for efficient data analysis and display.\n",
        "operationId": "enhancedApi_getEnhancedTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_commitmentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_ParseTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an array of enhanced transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_EnhancedTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/transactions",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/raw-transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns an array of raw (directly from RPC) transactions.",
        "operationId": "enhancedApi_getRawTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_commitmentParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_ParseTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an array of raw transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_RawTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/raw-transactions",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/tokens/metadata": {
      "post": {
        "tags": [
          "Tokens",
          "NFTs"
        ],
        "summary": "Returns token metadata (whether NFT or Fungible) for a given token address.",
        "operationId": "enhancedApi_getTokenMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_TokensMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the token metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnhancedApi_TokenMetadataResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/tokens/metadata",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/addresses/{address}/names": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Returns the Solana Naming Service name for a given address.",
        "operationId": "enhancedApi_getAddressName",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Solana Naming Service name if exists. Otherwise returns null.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_NamesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/names",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/addresses/{address}/balances": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Returns the native balance and token balances for a given address.",
        "operationId": "enhancedApi_getBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the native balance and the token balances for a given account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_BalancesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/balances",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/addresses/{address}/nfts": {
      "get": {
        "tags": [
          "NFTs"
        ],
        "summary": "Returns the NFTs held for a given address.",
        "operationId": "enhancedApi_getNFTs",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_addressParam"
          },
          {
            "$ref": "#/components/parameters/EnhancedApi_pageNumberParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the current NFTs that this address owns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_NFTsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/addresses/{address}/nfts",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.address": "method.request.path.address"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v1/nft-events": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Queries for NFT events.",
        "operationId": "enhancedApi_queryNftEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_QueryNftEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_QueryNftEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/nft-events",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v1/nfts": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Describes the provided NFTs.",
        "operationId": "enhancedApi_describeNfts",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_DescribeNftsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_DescribeNftsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/nfts",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v1/mintlist": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Returns a list of mint accounts for a given NFT collection.",
        "operationId": "enhancedApi_mintlist",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_MintlistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_MintlistResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/mintlist",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v1/active-listings": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Query for active NFT listings.",
        "operationId": "enhancedApi_queryActiveListings",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_ActiveListingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_ActiveListingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/active-listings",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v1/raw-transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Returns an array of raw transactions for the given accounts.",
        "operationId": "enhancedApi_queryRawTxns",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_RawTransactionsV1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_RawTransactionsV1Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/raw-transactions-v1",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/token-metadata": {
      "post": {
        "tags": [
          "Tokens",
          "NFTs"
        ],
        "summary": "Returns all metadata associated with an account, including data from the old token list.",
        "operationId": "enhancedApi_queryMetadataV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhancedApi_TokensMetadataRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedApi_TokensMetadataResponseV1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/EnhancedApi_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EnhancedApi_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EnhancedApi_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/EnhancedApi_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/EnhancedApi_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/EnhancedApi_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/EnhancedApi_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/EnhancedApi_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/tokens/metadata-v1",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://api-devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Returns all webhooks.",
        "operationId": "webhooks_getWebhooks",
        "description": "Retrieve a complete list of all configured webhooks for your API key with detailed\nconfiguration information including trigger conditions, delivery endpoints, and status.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks for the given API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhooks_Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Webhooks_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Webhooks_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Creates a webhook.",
        "operationId": "webhooks_createWebhook",
        "description": "Create a new webhook for real-time Solana blockchain notifications. Configure triggers \nbased on addresses, transaction types, or specific on-chain events. Customize delivery \noptions and notification formatting for seamless integration with your application.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhooks_CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks_Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID"
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      }
    },
    "/v0/webhooks/{webhookID}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Returns given Webhook.",
        "operationId": "webhooks_getWebhook",
        "description": "Retrieve detailed information about a specific webhook configuration by its unique ID.\nAccess complete webhook settings including trigger conditions, delivery endpoints, and status metrics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Webhooks_webhookIDParam"
          },
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details about the given webhook ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks_Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Webhooks_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Webhooks_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks/{webhookID}",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.webhookID": "method.request.path.webhookID"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Edits a webhook.",
        "operationId": "webhooks_editWebhook",
        "description": "Update an existing webhook configuration with new trigger conditions, delivery endpoints,\nor notification formatting. Modify your real-time blockchain notification settings to adapt\nto changing application requirements without service interruption.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Webhooks_webhookIDParam"
          },
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhooks_CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The edited webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks_Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Webhooks_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Webhooks_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks/{webhookID}",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.webhookID": "method.request.path.webhookID"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Deletes a webhook.",
        "operationId": "webhooks_deleteWebhook",
        "description": "Permanently remove a webhook configuration from your account. Immediately stop\nreceiving notifications for the specified webhook trigger conditions and free up\nresources for other webhook configurations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Webhooks_webhookIDParam"
          },
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhooks_200-NoContent"
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Webhooks_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Webhooks_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "DELETE",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks/{webhookID}",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.webhookID": "method.request.path.webhookID"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Toggle a webhook on or off.",
        "operationId": "webhooks_toggleWebhook",
        "description": "Enable or disable a webhook without deleting it. Use this to re-enable a webhook that\nwas automatically disabled due to a high endpoint failure rate, or to temporarily pause\ndeliveries. After re-enabling, the webhook enters a 24-hour grace period during which it\nwill not be automatically disabled again.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Webhooks_webhookIDParam"
          },
          {
            "$ref": "#/components/parameters/apiKeyParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhooks_ToggleWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks_Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Webhooks_400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Webhooks_401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Webhooks_403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Webhooks_404-NotFound"
          },
          "429": {
            "$ref": "#/components/responses/Webhooks_429-TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/Webhooks_500-InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/Webhooks_503-ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/Webhooks_504-GatewayTimeout"
          }
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PATCH",
          "type": "http_proxy",
          "uri": "http://PLACEHOLDER_VIEW_LAYER_DNS_NAME/webhooks/{webhookID}",
          "connectionType": "VPC_LINK",
          "connectionId": "PLACEHOLDER_VPC_LINK_ID",
          "requestParameters": {
            "integration.request.path.webhookID": "method.request.path.webhookID"
          }
        },
        "servers": [
          {
            "url": "https://api-mainnet.helius-rpc.com"
          }
        ]
      }
    },
    "/v1/wallet/{wallet}/identity": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Get wallet identity",
        "description": "Retrieve identity information for a known wallet (exchanges, protocols, etc.). Accepts\neither a Solana wallet address or an SNS (`.sol`) / ANS custom TLD domain name\n(e.g. `toly.sol`, `miester.bonk`). Domain resolution is mainnet-only.\n\nThe response is the standard identity object for the **resolved address**. No domain\nmarker (`inputDomain`) is attached on this endpoint — use `POST /v1/wallet/batch-identity`\nif you need to correlate inputs with outputs.\n\nReturns `404` if the wallet has no identity entry, or if a domain input cannot be resolved.\nReturns `400` if the input is neither a valid address nor a valid domain name, or if a\ndomain input is sent on a non-mainnet deployment.\n",
        "operationId": "walletApi_getWalletIdentity",
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletApi_WalletOrDomain"
          }
        ],
        "responses": {
          "200": {
            "description": "Identity information found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_Identity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "404": {
            "description": "No identity information available, or domain could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/v1/wallet/batch-identity": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Batch identity lookup",
        "description": "Retrieve identity information for multiple entries in a single request. Each entry may be\neither a Solana wallet address or an SNS (`.sol`) / ANS custom TLD domain name. Domain\nresolution is mainnet-only.\n\nUnresolvable domain entries do not fail the batch — they come back as\n`{ \"address\": null, \"type\": \"unknown\", \"inputDomain\": \"...\", \"unresolved\": true }`\nin request order. Resolved domain entries carry an `inputDomain` field so callers can\ncorrelate responses with the original input.\n",
        "operationId": "walletApi_batchIdentityLookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "addresses"
                ],
                "properties": {
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 100,
                    "description": "Array of Solana wallet addresses and/or SNS/ANS domain names to look up (up to 100 per request).",
                    "example": [
                      "HXsKP7wrBWaQ8T2Vtjry3Nj3oUgwYcqq9vrHDM12G664",
                      "toly.sol",
                      "miester.bonk"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity information for requested entries, in request order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletApi_BatchIdentityEntry"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/v1/wallet/{wallet}/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Get wallet balances",
        "description": "Retrieve token and NFT balances for a wallet. **Pagination is manual** - the API returns up to 100 tokens per request.\n\nResults are sorted by USD value in descending order. Tokens with pricing data appear first, followed by tokens without prices.\n\n**Pagination:** Use the `page` parameter to fetch additional pages. The response includes `pagination.hasMore`\nto indicate if more results are available. Each request makes a single API call and costs 100 credits.\n",
        "operationId": "walletApi_getWalletBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletApi_WalletAddress"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-indexed)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of tokens per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "example": 100
          },
          {
            "name": "showZeroBalance",
            "in": "query",
            "description": "Include tokens with zero balance",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "showNative",
            "in": "query",
            "description": "Include native SOL in results",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "showNfts",
            "in": "query",
            "description": "Include NFTs in results (max 100, first page only)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_BalancesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/v1/wallet/{wallet}/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get transaction history",
        "description": "Retrieve transaction history for a wallet using the Enhanced Transactions API.\nReturns human-readable, parsed transactions with balance changes for each transaction.\n**Pagination is manual** - the API returns up to 100 transactions per request.\n\nReturns transactions in reverse chronological order (newest first).\n\n**Associated Token Accounts (ATAs):** The `tokenAccounts` parameter controls whether transactions\ninvolving token accounts owned by the wallet are included:\n- `balanceChanged` (recommended): Includes transactions that changed token account balances, filtering spam\n- `none`: Only direct wallet interactions\n- `all`: All token account transactions including spam\n\n**Pagination:** Use the `before` parameter with `pagination.nextCursor` to fetch the next page.\nThe response includes `pagination.hasMore` to indicate if more results are available.\nEach request makes a single API call and costs 100 credits.\n",
        "operationId": "walletApi_getWalletHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletApi_WalletAddress"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions per request",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "example": 100
          },
          {
            "name": "before",
            "in": "query",
            "description": "Fetch transactions before this signature (use `pagination.nextCursor` from previous response)",
            "schema": {
              "type": "string"
            },
            "example": "5wHu1qwD7Jsj3xqWjdSEJmYr3Q5f5RjXqjqQJ7jqEj7jqEj7jqEj7jqEj7jqEj7jqE"
          },
          {
            "name": "after",
            "in": "query",
            "description": "Fetch transactions after this signature (for ascending order pagination)",
            "schema": {
              "type": "string"
            },
            "example": "5wHu1qwD7Jsj3xqWjdSEJmYr3Q5f5RjXqjqQJ7jqEj7jqEj7jqEj7jqEj7jqEj7jqE"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by transaction type. Available types: SWAP, TRANSFER, NFT_SALE, NFT_BID, NFT_LISTING,\nNFT_MINT, NFT_CANCEL_LISTING, TOKEN_MINT, BURN, COMPRESSED_NFT_MINT, COMPRESSED_NFT_TRANSFER,\nCOMPRESSED_NFT_BURN, CREATE_STORE, WHITELIST_CREATOR, ADD_TO_WHITELIST, REMOVE_FROM_WHITELIST,\nAUCTION_MANAGER_CLAIM_BID, EMPTY_PAYMENT_ACCOUNT, UPDATE_PRIMARY_SALE_METADATA, ADD_TOKEN_TO_VAULT,\nACTIVATE_VAULT, INIT_VAULT, INIT_BANK, INIT_STAKE, MERGE_STAKE, SPLIT_STAKE, CREATE_AUCTION_MANAGER,\nSTART_AUCTION, CREATE_AUCTION_MANAGER_V2, UPDATE_EXTERNAL_PRICE_ACCOUNT, EXECUTE_TRANSACTION\n",
            "schema": {
              "type": "string",
              "enum": [
                "SWAP",
                "TRANSFER",
                "NFT_SALE",
                "NFT_BID",
                "NFT_LISTING",
                "NFT_MINT",
                "NFT_CANCEL_LISTING",
                "TOKEN_MINT",
                "BURN",
                "COMPRESSED_NFT_MINT",
                "COMPRESSED_NFT_TRANSFER",
                "COMPRESSED_NFT_BURN",
                "CREATE_STORE",
                "WHITELIST_CREATOR",
                "ADD_TO_WHITELIST",
                "REMOVE_FROM_WHITELIST",
                "AUCTION_MANAGER_CLAIM_BID",
                "EMPTY_PAYMENT_ACCOUNT",
                "UPDATE_PRIMARY_SALE_METADATA",
                "ADD_TOKEN_TO_VAULT",
                "ACTIVATE_VAULT",
                "INIT_VAULT",
                "INIT_BANK",
                "INIT_STAKE",
                "MERGE_STAKE",
                "SPLIT_STAKE",
                "CREATE_AUCTION_MANAGER",
                "START_AUCTION",
                "CREATE_AUCTION_MANAGER_V2",
                "UPDATE_EXTERNAL_PRICE_ACCOUNT",
                "EXECUTE_TRANSACTION"
              ]
            },
            "example": "SWAP"
          },
          {
            "name": "tokenAccounts",
            "in": "query",
            "description": "Filter transactions involving token accounts owned by the wallet.\n- `balanceChanged` (recommended): Includes transactions that changed token balances, filters spam\n- `none`: Only transactions directly referencing the wallet\n- `all`: All transactions including token accounts (may include spam)\n",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "balanceChanged",
                "all"
              ],
              "default": "balanceChanged"
            },
            "example": "balanceChanged"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_HistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/v1/wallet/{wallet}/transfers": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get token transfers",
        "description": "Retrieve all token transfer activity for a wallet including sender/recipient information.\nReturns transfers in reverse chronological order (newest first).\n",
        "operationId": "walletApi_getWalletTransfers",
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletApi_WalletAddress"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transfers to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_TransfersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/v1/wallet/{wallet}/funded-by": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Get wallet funding source",
        "description": "Discover the original funding source of a wallet by analyzing its first incoming SOL transfer.\nUseful for identifying if a wallet was funded by an exchange, another wallet, etc.\n",
        "operationId": "walletApi_getWalletFundingSource",
        "parameters": [
          {
            "$ref": "#/components/parameters/WalletApi_WalletAddress"
          }
        ],
        "responses": {
          "200": {
            "description": "Funding source identified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_FundingSource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WalletApi_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/WalletApi_Unauthorized"
          },
          "404": {
            "description": "No funding transaction found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApi_Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/WalletApi_RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/WalletApi_InternalError"
          }
        },
        "servers": [
          {
            "url": "https://api.helius.xyz",
            "description": "Production server"
          }
        ]
      }
    },
    "/fast": {
      "post": {
        "tags": [
          "Sender"
        ],
        "summary": "sendTransaction",
        "operationId": "senderApi_sendTransaction",
        "description": "Submit transactions via Helius Sender for ultra-low latency transaction submission with dual routing to both Solana validators and Jito infrastructure.\n",
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Standard users do not require an API key. Only users with custom TPS limits need to provide an API key."
          },
          {
            "name": "swqos_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, routes exclusively through SWQOS infrastructure, but has a lower minimal tip requirement."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "The JSON-RPC protocol version.",
                    "example": "2.0",
                    "default": "2.0"
                  },
                  "id": {
                    "type": "string",
                    "description": "A unique identifier for the request.",
                    "example": "1",
                    "default": "1"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sendTransaction"
                    ],
                    "description": "The name of the RPC method to invoke.",
                    "example": "sendTransaction",
                    "default": "sendTransaction"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters for sending a transaction via Sender.",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "The transaction encoded in base64."
                        },
                        {
                          "type": "object",
                          "description": "Configuration options for transaction submission.",
                          "required": [
                            "skipPreflight"
                          ],
                          "properties": {
                            "encoding": {
                              "type": "string",
                              "description": "Data encoding format used for the Solana transaction payload.",
                              "enum": [
                                "base58",
                                "base64"
                              ],
                              "example": "base64"
                            },
                            "skipPreflight": {
                              "type": "boolean",
                              "description": "When true, bypasses Solana's preflight transaction validation for faster submission. Must be set to true for Sender.",
                              "example": false
                            },
                            "maxRetries": {
                              "type": "integer",
                              "description": "Maximum number of automatic retry attempts. Should be set to 0.",
                              "example": 0
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": "1",
                "method": "sendTransaction",
                "params": [
                  "Ab/WBgJxCprwWlK2fCxSwm9KrWlJQW8TdnYqXMvg5KropeLqHaa5yJeoWUb+LsGi6zlfs1Z/jA/RgJW++tBhPAKAAQACBGuePYZrXq9Jj+DwkquiMvsrNU5rlcAbmRfuAYui/CwAQr437DqfrFoSt1BSgM/2/0Iqja1QMefnu1hTYX96AA0DBkZv5SEXMv/srbpyw5vnvIzlu8X3EmssQ5s6QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhWHa4WfUT12o+cyi2WGwfBvngyurXf5VQd4Ukn+5ZSIDAgAFAqCGAQACAAkDQA0DAAAAAAADAgABDAIAAABAQg8AAAAAAAA=",
                  {
                    "encoding": "base64",
                    "skipPreflight": true,
                    "maxRetries": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction submitted successfully. Since we're skipping preflight checks, a 200 response does not guarantee that the transaction is valid or that it will land onchain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "description": "The JSON-RPC protocol version.",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "string",
                      "description": "Identifier matching the request.",
                      "example": "1"
                    },
                    "result": {
                      "type": "string",
                      "description": "The transaction signature for tracking confirmation status.",
                      "example": "4qTLpN1sBrp5SzZUKfrSH2897FmxA7AB4EbN4ccgSgEjG9RG2686pSKWhEbz65q4bvaRsdpKRJKZ3dkdGZA78u5s"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": "1",
                  "result": "4qTLpN1sBrp5SzZUKfrSH2897FmxA7AB4EbN4ccgSgEjG9RG2686pSKWhEbz65q4bvaRsdpKRJKZ3dkdGZA78u5s"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing tip, priority fee, or invalid submission parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderApi_ErrorResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "error": {
                    "code": -32602,
                    "message": "Invalid request"
                  },
                  "id": "1"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderApi_ErrorResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "error": {
                    "code": -32005,
                    "message": "Too many requests"
                  },
                  "id": "1"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderApi_ErrorResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "error": {
                    "code": -32603,
                    "message": "Internal error"
                  },
                  "id": "1"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The service is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderApi_ErrorResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "error": {
                    "code": -32002,
                    "message": "Service unavailable"
                  },
                  "id": "1"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - The request timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderApi_ErrorResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "error": {
                    "code": -32003,
                    "message": "Gateway timeout"
                  },
                  "id": "1"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://sender.helius-rpc.com",
            "description": "Global HTTPS endpoint (for frontend applications)"
          },
          {
            "url": "http://slc-sender.helius-rpc.com",
            "description": "Salt Lake City"
          },
          {
            "url": "http://ewr-sender.helius-rpc.com",
            "description": "Newark"
          },
          {
            "url": "http://lon-sender.helius-rpc.com",
            "description": "London"
          },
          {
            "url": "http://fra-sender.helius-rpc.com",
            "description": "Frankfurt"
          },
          {
            "url": "http://ams-sender.helius-rpc.com",
            "description": "Amsterdam"
          },
          {
            "url": "http://sg-sender.helius-rpc.com",
            "description": "Singapore"
          },
          {
            "url": "http://tyo-sender.helius-rpc.com",
            "description": "Tokyo"
          }
        ]
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Sender"
        ],
        "summary": "ping",
        "operationId": "senderApi_ping",
        "description": "Ping request to Helius Sender to maintain a warm connection\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Connection is alive.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "ok"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The service is temporarily unavailable.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://sender.helius-rpc.com",
            "description": "Global HTTPS endpoint (for frontend applications)"
          },
          {
            "url": "http://slc-sender.helius-rpc.com",
            "description": "Salt Lake City"
          },
          {
            "url": "http://ewr-sender.helius-rpc.com",
            "description": "Newark"
          },
          {
            "url": "http://lon-sender.helius-rpc.com",
            "description": "London"
          },
          {
            "url": "http://fra-sender.helius-rpc.com",
            "description": "Frankfurt"
          },
          {
            "url": "http://ams-sender.helius-rpc.com",
            "description": "Amsterdam"
          },
          {
            "url": "http://sg-sender.helius-rpc.com",
            "description": "Singapore"
          },
          {
            "url": "http://tyo-sender.helius-rpc.com",
            "description": "Tokyo"
          }
        ]
      }
    },
    "/": {
      "post": {
        "summary": "Get Solana priority fee estimates",
        "description": "Calculate optimal priority fee recommendations for Solana transactions based on real-time \nnetwork conditions. This advanced API analyzes historical fee data and current congestion \nlevels to provide precise fee estimates for different priority levels.\n",
        "operationId": "priorityFeeApi_getPriorityFeeEstimate",
        "security": [
          {
            "ApiKeyQuery": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriorityFeeApi_PriorityFeeEstimateRequest"
              },
              "examples": {
                "transactionExample": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "1",
                    "method": "getPriorityFeeEstimate",
                    "params": [
                      {
                        "transaction": "LxzhDW7TapzziJVHEGPh1QjmZB6kjNqmvuJ9gmihBGEkzw2N8ospDq32UZdVmKWzRZqKuyvhp7xmLvsmmHa3MfxVKpYoLV9cPkw5isHnHgDUwLSMsDaZ4dLEULexXAvuV9k6fLD2LMhFKM6gqH6j69GQLAm1g4e3z5ZVZN6pmJdSmZ4PqKcwNn4sS7E3Abp1hV59uBJB9i4jEdEAh28rZ8WCeNizzEmrJZFhatFFFGSDsk23jDPEjbkMcoRWXKf1WthFScC2S6Wz284Dtjqp7kW8eybV3DpmN9DtBbcfFNQPtUwmiBZCKszdYym5AjJvRHiUKUdMwFpC3toPnMvTmKZ9iHQtzZRkg5xBufRtUN5eVYJfdw2DxzH6RfqhC2rAjfSbfJA4wmaq9f5eUe2iEjmqvne6r85PPcHBJzyqkVtAyUFtTc9DfU8UiM9rFhQ2UB71M6m5UCsC6EwowMw5k8iF8rL7iPCLdubVdy8S58DPLNG4E4rdosev1T63YdRWSgEwBZh7iX4zGBA9AKAm3B9itCSxLSL46Y6uZgVku9UXsMcWWz3URoa6hRbo55CYPLhrVeqjqX5DsXpaG6QkngbEaESQUnkakE1AFkYXmNXEd2m3sLRTYB2o5UTkwkJS2u5sJHyYqAvXr3vFZr7qAYFLD3LwS5tsdb45ZQVQwsbnNddMHgkpmSqLHS6Fv1epxqHbzpRCU1tgMsriApVWC3pj2LLD41HxkV8aKvkVyHgJFACUtbvRBZAasHf1F71Gz3qZNTdh3efWsZJRXnfxKPbATU7NTMaMUL8JjknfoVwp3/SsAUIMHFzjQMQmoiQMSL1q+S+r9dLR55BgaWAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG3fbh12Whk9nL4UbO63msHLSF7V9bN5E6jPWFfv8AqQECAwABDAIAAAAEAAAAAAAA"
                      }
                    ]
                  }
                },
                "accountKeysExample": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "1",
                    "method": "getPriorityFeeEstimate",
                    "params": [
                      {
                        "accountKeys": [
                          "2CiBfRKcERi2GgYn83UaGo1wFaYHHrXGGfnDaa2hxdEA"
                        ],
                        "options": {
                          "includeAllPriorityFeeLevels": true
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved Solana priority fee estimates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriorityFeeApi_PriorityFeeEstimateResponse"
                },
                "examples": {
                  "singleEstimateResponse": {
                    "value": {
                      "jsonrpc": "2.0",
                      "result": {
                        "priorityFeeEstimate": 120000
                      },
                      "id": "1"
                    }
                  },
                  "allLevelsResponse": {
                    "value": {
                      "jsonrpc": "2.0",
                      "result": {
                        "priorityFeeLevels": {
                          "min": 0,
                          "low": 2,
                          "medium": 10082,
                          "high": 100000,
                          "veryHigh": 1000000,
                          "unsafeMax": 50000000
                        }
                      },
                      "id": "1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "description": "JSON-RPC version identifier"
                    },
                    "error": {
                      "type": "object",
                      "description": "Error information",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32602,
                          "description": "Error code"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid params",
                          "description": "Error message"
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "Client-generated identifier matching the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32001
                        },
                        "message": {
                          "type": "string",
                          "example": "Unauthorized"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests — rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32005
                        },
                        "message": {
                          "type": "string",
                          "example": "Too many requests"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. Retryable with exponential backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32603
                        },
                        "message": {
                          "type": "string",
                          "example": "Internal error"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://mainnet.helius-rpc.com",
            "description": "Mainnet RPC endpoint"
          },
          {
            "url": "https://devnet.helius-rpc.com",
            "description": "Devnet RPC endpoint"
          }
        ]
      }
    },
    "/v0/admin/projects/{id}/usage": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get Project Usage",
        "operationId": "adminApi_getProjectUsage",
        "description": "Retrieve credit usage, subscription details, and per-service request counts for a project within the current billing cycle.\n\nThe API key used for authentication must belong to the project specified in the path. Requests where the API key's project does not match the `id` parameter will return a `400` error.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The project ID to retrieve usage for. Must match the project associated with the API key.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project usage retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApi_ProjectUsageResponse"
                },
                "example": {
                  "creditsRemaining": 487500,
                  "creditsUsed": 12500,
                  "prepaidCreditsRemaining": 50000,
                  "prepaidCreditsUsed": 0,
                  "subscriptionDetails": {
                    "billingCycle": {
                      "start": "2026-04-01",
                      "end": "2026-05-01"
                    },
                    "creditsLimit": 500000,
                    "plan": "business"
                  },
                  "usage": {
                    "api": 1200,
                    "archival": 0,
                    "das": 5000,
                    "grpc": 300,
                    "grpcGeyser": 0,
                    "photon": 0,
                    "rpc": 4500,
                    "stream": 100,
                    "webhook": 800,
                    "websocket": 600
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the project ID in the path does not match the project associated with the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApi_ErrorResponse"
                },
                "example": {
                  "statusCode": 400,
                  "message": "Invalid project id",
                  "error": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — API key is missing, malformed, or not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminApi_ErrorResponse"
                },
                "example": {
                  "statusCode": 401,
                  "message": "Missing or invalid API key",
                  "error": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the Admin API is not enabled for this project.",
            "content": {
              "application/json": {
                "schema": {
[...]
